* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url(../assets/Cover.png);
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover; 
  color: white;
  letter-spacing: .03em
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
nav {
  font-size: 40px;
  color: white;
  width: 100%;
}

.page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 4%;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  align-items: center;
}

#enter-city {
  border-radius: 24px !important;
  border: none;
  margin: 0.4em 2em;
}

.search-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10%;
}

.search-btn {
  margin-top: 10px;
  background-color: transparent;
  border: 1.5px solid rgba(255, 255, 255, 0.3);
  color: white;
  border-radius: 24px;
  width: 100%;
  padding-bottom: 5px;
  padding: 0.3em 5em;
  font-size: 1.1em
}

.button {
  background-color: transparent;
  border: 1.5px solid rgba(255, 255, 255, 0.3);
  color: white;
  border-radius: 24px;
  width: 100%;
  padding: 0.4em 3em;
  font-size: 1.1em
}

.btn {
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  margin-bottom: 5px;
  width: 100%;
}

.iconCityDate {
  display: flex;
  flex-direction: row;
}

.dateCityContainer {
  margin-left: 15em;
}

#firstDate {
  margin-bottom: 0% !important;
}

.container-days {
  display: flex;
  flex-direction: column;
  width: 60%;
}

#tempLogo,
#windyLogo,
#humidlogo {
  margin: 3%
}
.windDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#wind {
  margin-top: 10%;
  font-size: 1.2em;
  margin-bottom: 0% !important;
}

.humidDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#humidity {
  padding-top: 24%;
  font-size: 1.2em;
  margin-bottom: 0% !important;

}

.tempDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#temp {
  margin-top: 14%;
  font-size: 1.2em;
  margin-bottom: 0% !important;
}

.tempTwoContainer,
.windTwoContainer,
.humidTwoContainer,
.tempThreeContainer,
.windThreeContainer,
.humidThreeContainer,
.tempFourContainer,
.windFourContainer,
.humidFourContainer,
.tempFiveContainer,
.windFiveContainer,
.humidFiveContainer,
.tempSixContainer,
.windSixContainer,
.humidSixContainer {
  display: flex;
  flex-direction: row;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
  margin-left: 30px;
}

h3 {
  font-size: 15px;
}

.forecast {
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  border: none;
  border-radius: 20px;
  min-width: 18%;
  min-height: 200px;
  background: rgba(72, 49, 157, 0.2);
  border: 1.23775px solid rgba(255, 255, 255, 0.2);
  box-shadow: 6.18877px 4.95102px 12.3775px rgba(0, 0, 0, 0.25), inset 1.23775px 1.23775px 0px rgba(255, 255, 255, 0.25);
  border-radius: 37.1326px;
  color: white;
}

.card p {
  font-weight: 400;
  font-size: 14px;
}

.cityTemp {
  background-image: url(../assets/Weather\ Widget.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  background-size: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  border: none !important;
  border-radius: 15px;
  color: white;
  min-height: 300px;
}

.tempSection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 10em;
  padding-right: 8em;
}

#iconOne {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -2%;
  margin-left: 6em;
  height: 100px;
  width: 100px;
}

#iconTwo,
#iconThree,
#iconFour,
#iconFive,
#iconSix {
  margin-left: 20%;
}

#city {
  font-size: 1.7em;
  margin-bottom: 1% !important;
}

.mt-5 {
  margin-left: 235px;
}
