* {
box-sizing: border-box;
  }

body {
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, #8aaffa, #806FF9);
}
 
header {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  /* padding: 2%; */
}
nav {
font-size: 40px;

color: white;
width: 100%;
}

.page-container {
  padding:5%;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  /* justify-content:space-around; */
  align-items: center;
}

#enter-city {
  border-radius: 24px !important;
}

.search-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10%;
}

.search-btn {  
margin-top: 10px;
background-color: transparent;
border: 2px solid white !important;
color: white;
border: none;
border-radius: 24px;
width: 100%;
padding-bottom: 5px;
padding: .5em 1em;
/* padding: .6em 1.5em; */
}

button {
  background-color: transparent;
  border: 2px solid white !important;
  color: white;
  border: none;
  border-radius: 24px;
  width: 100%;  
  padding: .5em 1em;
}

/* .search-btn:hover {

} */


.btn {
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  margin-bottom: 5px;
  width: 100%;
}

/* .btn:hover {
background-image: linear-gradient(lightblue, rgb(97, 154, 230));
color: #3383E9
} */
 

.container-days {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70%;
}

/* .tempWindHumidSection {

} */

.windDiv {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* align-items: center; */
}

#wind {
  margin-left: 2%;
}

.humidDiv {
  display: flex;
  flex-direction: row;
}

#humidity {
  margin-left: 2%;
}

.tempDiv {
  display: flex;
  flex-direction: row;
}

#temp {
  margin-left: 2%;
}

.tempTwoContainer,
.windTwoContainer,
.humidTwoContainer,
.tempThreeContainer,
.windThreeContainer,
.humidThreeContainer,
.tempFourContainer,
.windFourContainer,
.humidFourContainer,
.tempFiveContainer,
.windFiveContainer,
.humidFiveContainer,
.tempSixContainer,
.windSixContainer,
.humidSixContainer
 {
  display: flex;
  flex-direction: row;
}

/* .windyLogo  {
  margin-top: 2%;
} */

h1 {
font-size: 30px;
}

h2 {
font-size: 20px;
margin-left: 30px;
}

h3 {
  font-size: 15px;
}

.forecast {
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}

.card {
 display: flex;
 flex-direction: column;
 border: none;
 border-radius: 15px;
/* width: 18%; */
/* height: 100%; */
background-color: #ffff;
}

.card p {
  color: rgb(97, 154, 230);
  /* font-weight: bold; */
}

.cityDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: orange;
}
.cityTemp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #ffff;
  border: none;
  border-radius: 15px;
}


/* .cityTemp p {
  text-align: center;
} */

/* .cityTemp h1 {
  text-align: center;
} */

.mt-5 {
  margin-left: 235px;
}

/* .icon {
  display:flex;
  justify-content: center;
} */
